<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 - Not Found</title>
	<link rel="stylesheet" href="../public/css/bootstrap.css">
</head>
<body class="bg-dark text-white">
	<div class="position-absolute top-50 start-50 translate-middle text-center">
		<h1 style="display: none;">404 - Not Found</h1>
		<img src="https://http.cat/404" alt="404" style="width: 40em; padding-bottom: 1em;">
		<p>Sorry, the page you are looking for could not be found.</p>
		<button type="button" class="btn btn-primary" onclick="history.back()">Go back</button> or return to the <a href="/" class="btn btn-secondary">Homepage</a>
	</div>
</body>
</html>